*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
.box1{
    background: #607d8b ;
}
.box2{
    background: #ab9973 ;
}
.box3{
    background: #324b61 ;
}
.box4{
    background: #a44b8e ;
}
.hero div{
    padding: 30px;
}
h1{
    color:#fff
}


